@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 33% 95%;
    --foreground: 210 29% 24%;
    --card: 45 33% 97%;
    --card-foreground: 210 29% 24%;
    --popover: 45 33% 97%;
    --popover-foreground: 210 29% 24%;
    --primary: 210 29% 24%;
    --primary-foreground: 48 33% 95%;
    --secondary: 210 25% 90%;
    --secondary-foreground: 210 29% 24%;
    --muted: 210 25% 94%;
    --muted-foreground: 210 20% 45%;
    --accent: 206 82% 56%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 85%;
    --input: 210 20% 88%;
    --ring: 206 82% 56%;
    --radius: 0.5rem;
    --sidebar-background: 210 29% 20%;
    --sidebar-foreground: 210 20% 85%;
    --sidebar-primary: 206 82% 66%;
    --sidebar-primary-foreground: 210 29% 15%;
    --sidebar-accent: 210 29% 25%;
    --sidebar-accent-foreground: 210 20% 95%;
    --sidebar-border: 210 29% 30%;
    --sidebar-ring: 206 82% 66%;
  }

  .dark {
    --background: 210 29% 15%;
    --foreground: 60 50% 91%;
    --card: 210 29% 20%;
    --card-foreground: 60 50% 91%;
    --popover: 210 29% 20%;
    --popover-foreground: 60 50% 91%;
    --primary: 60 56% 91%;
    --primary-foreground: 210 29% 29%;
    --secondary: 210 30% 30%;
    --secondary-foreground: 60 50% 91%;
    --muted: 210 30% 25%;
    --muted-foreground: 60 50% 65%;
    --accent: 210 98% 73%;
    --accent-foreground: 210 29% 20%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 29% 35%;
    --input: 210 29% 25%;
    --ring: 210 98% 73%;
    --sidebar-background: 210 29% 20%;
    --sidebar-foreground: 60 50% 85%;
    --sidebar-primary: 210 98% 73%;
    --sidebar-primary-foreground: 210 29% 20%;
    --sidebar-accent: 210 29% 25%;
    --sidebar-accent-foreground: 60 56% 91%;
    --sidebar-border: 210 29% 30%;
    --sidebar-ring: 210 98% 73%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
